In [1]:
import pandas as pd
df = pd.read_csv("../data/insurance_claims.csv")

In [2]:
df.head()

  claim_id client_id  premium  claim_amount    status  claim_date  country
0     C001     CL001    520.5         250.0  Approved  2024-05-12   France
1     C002     CL002    300.0           0.0   Pending  2024-06-10  Germany
2     C003     CL003      0.0        1000.0  Rejected  2024-04-18    Spain
3     C004     CL004    850.0         400.0  Approved  2024-05-21   France
4     C005     CL005    450.0         150.0  Approved  2024-07-03    Italy

In [7]:
df.tail()

   claim_id client_id  premium  claim_amount    status  claim_date  country
10     C011     CL011      0.0         900.0  Rejected  2024-05-25    Spain
11     C012     CL012    620.0           0.0   Pending  2024-06-15  Germany
12     C013     CL013    540.0         100.0  Approved  2024-07-22   France
13     C014     CL014    800.0         200.0  Approved  2024-08-05    Italy
14     C015     CL015    250.0         400.0  Rejected  2024-09-10    Spain

In [ ]:
df.index 
#df.dtypes

RangeIndex(start=0, stop=15, step=1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   claim_id      15 non-null     object
 1   client_id     15 non-null     object
 2   premium       15 non-null     float64
 3   claim_amount  15 non-null     float64
 4   status        15 non-null     object
 5   claim_date    15 non-null     object
 6   country       15 non-null     object
dtypes: float64(2), object(5)
memory usage: 968.0+ bytes

In [10]:
df.describe()

           premium  claim_amount
count    15.000000     15.000000
mean    445.366667    303.333333
std     322.008012    310.222654
min       0.000000      0.000000
25%     225.000000     50.000000
50%     450.000000    250.000000
75%     685.000000    400.000000
max    1000.000000   1000.000000

In [15]:
#df.isna()
df.isna().sum()

claim_id        0
client_id       0
premium         0
claim_amount    0
status          0
claim_date      0
country         0
dtype: int64

# replace invalid 
# "raise", "coerce", or "ignore" for errors

# errors="raise" → stop execution if invalid numbers exist
# errors="ignore" → keep invalid strings as-is (won’t convert them)
# errors="coerce" → convert invalid values to NaN (the default “silent handling”)

In [9]:
# replace invalid 
# invalid -> NaN
df["premium"] = pd.to_numeric(df["premium"], errors="coerce")

In [10]:
# invalid -> NaN
df["claim_amount"] = pd.to_numeric(df["claim_amount"], errors="coerce")

In [11]:
df

   claim_id client_id  premium  claim_amount    status  claim_date  country
0      C001     CL001    520.5         250.0  Approved  2024-05-12   France
1      C002     CL002    300.0           0.0   Pending  2024-06-10  Germany
2      C003     CL003      0.0        1000.0  Rejected  2024-04-18    Spain
3      C004     CL004    850.0         400.0  Approved  2024-05-21   France
4      C005     CL005    450.0         150.0  Approved  2024-07-03    Italy
5      C006     CL006    200.0         350.0  Rejected  2024-08-01    Spain
6      C007     CL007   1000.0           0.0   Pending  2024-08-15  Germany
7      C008     CL008      0.0           0.0   Pending  2024-09-12   France
8      C009     CL009    750.0         500.0  Approved  2024-09-20    Italy
9      C010     CL010    400.0         300.0  Approved  2024-10-02   France
10     C011     CL011      0.0         900.0  Rejected  2024-05-25    Spain
11     C012     CL012    620.0           0.0   Pending  2024-06-15  Germany
12     C013     CL013    540.0         100.0  Approved  2024-07-22   France
13     C014     CL014    800.0         200.0  Approved  2024-08-05    Italy
14     C015     CL015    250.0         400.0  Rejected  2024-09-10    Spain

In [12]:
# See which rows were broken
print("Rows with invalid premium:\n", df[df["premium"].isna()])

Rows with invalid premium:
 Empty DataFrame
Columns: [claim_id, client_id, premium, claim_amount, status, claim_date, country]
Index: []

In [13]:
print("Rows with invalid claim_amount:\n", df[df["claim_amount"].isna()])

Rows with invalid claim_amount:
 Empty DataFrame
Columns: [claim_id, client_id, premium, claim_amount, status, claim_date, country]
Index: []

In [15]:
# Drop invalid rows
df = df.dropna(subset=["premium", "claim_amount"])
df

   claim_id client_id  premium  claim_amount    status  claim_date  country
0      C001     CL001    520.5         250.0  Approved  2024-05-12   France
1      C002     CL002    300.0           0.0   Pending  2024-06-10  Germany
2      C003     CL003      0.0        1000.0  Rejected  2024-04-18    Spain
3      C004     CL004    850.0         400.0  Approved  2024-05-21   France
4      C005     CL005    450.0         150.0  Approved  2024-07-03    Italy
5      C006     CL006    200.0         350.0  Rejected  2024-08-01    Spain
6      C007     CL007   1000.0           0.0   Pending  2024-08-15  Germany
7      C008     CL008      0.0           0.0   Pending  2024-09-12   France
8      C009     CL009    750.0         500.0  Approved  2024-09-20    Italy
9      C010     CL010    400.0         300.0  Approved  2024-10-02   France
10     C011     CL011      0.0         900.0  Rejected  2024-05-25    Spain
11     C012     CL012    620.0           0.0   Pending  2024-06-15  Germany
12     C013     CL013    540.0         100.0  Approved  2024-07-22   France
13     C014     CL014    800.0         200.0  Approved  2024-08-05    Italy
14     C015     CL015    250.0         400.0  Rejected  2024-09-10    Spain

In [17]:
# Make sure numbers are floats
df["premium"] = df["premium"].astype(float)

In [18]:
df["claim_amount"] = df["claim_amount"].astype(float)

In [21]:
# Premium must be >0, claim_amount >=0
df = df[(df["premium"] > 0) & (df["claim_amount"] >= 0)]
df

   claim_id client_id  premium  claim_amount    status  claim_date  country
0      C001     CL001    520.5         250.0  Approved  2024-05-12   France
1      C002     CL002    300.0           0.0   Pending  2024-06-10  Germany
3      C004     CL004    850.0         400.0  Approved  2024-05-21   France
4      C005     CL005    450.0         150.0  Approved  2024-07-03    Italy
5      C006     CL006    200.0         350.0  Rejected  2024-08-01    Spain
6      C007     CL007   1000.0           0.0   Pending  2024-08-15  Germany
8      C009     CL009    750.0         500.0  Approved  2024-09-20    Italy
9      C010     CL010    400.0         300.0  Approved  2024-10-02   France
11     C012     CL012    620.0           0.0   Pending  2024-06-15  Germany
12     C013     CL013    540.0         100.0  Approved  2024-07-22   France
13     C014     CL014    800.0         200.0  Approved  2024-08-05    Italy
14     C015     CL015    250.0         400.0  Rejected  2024-09-10    Spain

In [24]:
# Clean text
df["status"] = df["status"].str.lower().str.strip()
df["country"] = df["country"].str.title().str.strip()
df

   claim_id client_id  premium  claim_amount    status  claim_date  country
0      C001     CL001    520.5         250.0  approved  2024-05-12   France
1      C002     CL002    300.0           0.0   pending  2024-06-10  Germany
3      C004     CL004    850.0         400.0  approved  2024-05-21   France
4      C005     CL005    450.0         150.0  approved  2024-07-03    Italy
5      C006     CL006    200.0         350.0  rejected  2024-08-01    Spain
6      C007     CL007   1000.0           0.0   pending  2024-08-15  Germany
8      C009     CL009    750.0         500.0  approved  2024-09-20    Italy
9      C010     CL010    400.0         300.0  approved  2024-10-02   France
11     C012     CL012    620.0           0.0   pending  2024-06-15  Germany
12     C013     CL013    540.0         100.0  approved  2024-07-22   France
13     C014     CL014    800.0         200.0  approved  2024-08-05    Italy
14     C015     CL015    250.0         400.0  rejected  2024-09-10    Spain